@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-Black.ttf) format("truetype");
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Fallback, sans-serif;
}

.hum_btn {
  margin-left: 209px;
}

.content {
  display: flex;
  justify-content: center;
  background-image: url(./image/headershapesmobile.png), url(./image/headerbackgroundmobile.png);
  background-repeat: no-repeat;
  background-size: 100%, cover;
}

.navbar {
  display: inline-flex;
  margin-top: 38px;
}

.logo {
  width: fit-content;
}

.nav-item {
  list-style: none;
  display: inline;
}

.desk-item {
  display: none;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 9px;
  height: 718px;
}

.intro {
  width: 327px;
  font-size: 40px;
  margin-top: 84px;
  margin-bottom: 0;
  color: #172b4d;
}

.paragraph {
  font-size: 16px;
  width: 332px;
  color: #344563;
}

.conect_info {
  text-decoration: none;
  color: #7f8cff;
  margin-bottom: 0;
}

.social_item {
  padding: 0;
  list-style: none;
}

.social_item li {
  display: inline;
  margin-right: 31px;
}

.grid-container {
  padding-top: 93px;
  display: grid;
  row-gap: 64px;
  
}

.work_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-width: 1px;
  width: 327px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 30px;
  border-style: ridge;
  height: 587px;
  background-color: #fff;
}

.h_section{
  margin-top: 0;
    margin-left: 20px;
    font-size: 33px;
    margin-bottom: 0;
}

.screenshoot {
  width: 295px;
  margin: 24px 24px 24px 15px;
  
}

.projectTitle {
  margin-left: 24px;
}

.canopy {
  list-style: none;
  padding-left: 0;
  margin-left: 24px;
}

.canopy li {
  display: inline;
  padding-right: 7px;
}

.work_paragraph {
  margin-top: 0;
  width: 295px;
  margin-left: 24px;
  font-size: 17px;
  color: #344563;
}

.lang {
  list-style: none;
  padding-left: 0;
  margin-left: 24px;
  margin-top: 0;
}

.hide {
  display: none;
}

.lang li {
  display: inline-flex;
  padding: 4px 12px 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  margin-right: 10px;
}


.btn {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #4274f2;
  border-radius: 5px;
  margin-left: 21px;
  
}


.work_section2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-width: 1px;
  width: 327px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 30px;
  border-style: ridge;
  height: 643px;
  background-color: #fff;
}

.about {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 10px;
  margin-top: 61px;
  height: 947px;
  border-top-right-radius: 30px;
  background-image: url(./image/header-background-mobile.png);
  width: 287px;
}

.about_title {
  width: 135px;
  margin-top: 58px;
}

.resume_btn {
  width: 191px;
  padding: 10px;
  margin-left: -8px;
  background-color: #fff;
  border: 1px solid #4274f2;
  border-radius: 5px;
}

.languages {
  margin-top: 58px;
}

.btn {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #4274f2;
  border-radius: 5px;
  margin-left: 24px;
}

.h_btn {
  font-size: 18px;
  color: #4274f2;
}

.left-about {
  flex-direction: column;
  width: 350px;
  margin-right: 216px;
}

.about-title {
  font-size: 40px;
  width: 20px;
  margin-bottom: 0;

}

.about-paraghraph {
  font-size: 19px;
  width: 346px;;
}

.about-connect {
  text-decoration: none;
  color: #7f8cff;
}

.lang-list {
  display: inline;
  margin-top: 60px;
  padding-left: 0;
  width: 326px;
}

.lang-list li {
  list-style: none;
  padding-bottom: 20px;
  font-size: 18px;
}

.child-list {
  display: grid;
  row-gap: 20px;
  padding-left: 0;
}

.child-list li {
  background-color: #e0e3e7;
  padding: 12px;
  display: flex;
  border-radius: 8px;
}

.lang-name {
  margin-left: 20px;
  margin-top: 11px;
}

.lang-logo {
  float: left;
}

.victor {
  float: right;
}